body {
  background-image: linear-gradient(to top, black 0%, black 100%);
  width: 40%;
  margin: 60px auto;
  font-family: "Cerebri Sans", Helvetica, Arial, sans-serif;
}
h1 {
  position: fixed;
}
input {
  color: White;
  background-color: black;
  border: solid;
  border-color: white;
  box-sizing: border-box;
  position: fixed;
  margin-top: 50px;
}
.app {
  border: solid 5px;
  border-color: white;
}
.Searchbar {
  max-width: 30%;
  min-width: 20%;
  margin-top: 3%;
}
.search {
  position: fixed;
  max-width: 5%;
  min-width: 5%;
  margin-left: 21%;
  margin-top: 3%;
}
.localSubmit {
  position: fixed;
  max-width: 5%;
  min-width: 5%;
  margin-left: 27%;
  margin-top: 3%;
}
.city {
  display: fixed;
  font-size: 40px;
  padding-top: 18%;
  text-transform: uppercase;
  /* margin-top: 200px; Why does this not work ? */
}
.day {
  font-size: 42px;
  color: #939aa9;
  margin-top: -90px;
  padding-top: -90px;
  display: inline-block;
}
.time {
  color: #5b6275;
  font-size: 18px;
  display: fixed;
  margin-top: -40%;
  margin-left: 2%;
}
.mood {
  color: #5b6275;
  display: inline-block;
  font-size: 32px;
  margin-top: -40%;
  text-transform: uppercase;
}

.bigIcon {
  background-color: red;
  display: inline-block;
  margin-top: -100px;
}

.degrees {
  font-size: 46px;
  display: inline-block;
  margin-left: 15%;
  margin-left: 1%;
  margin-top: -2%;
}

.leftInfo {
  display: block;
  margin-top: -200%;
  padding: top -40px;
}
.values {
  display: block;
  text-align: right;
  color: #939aa9;
  font-size: 20px;
  margin-top: -30%;
  margin-right: 15%;
}

.week {
  display: inline-block;
  max-width: 90%;
  padding-top: 20%;
}

.days,
.weekdegrees {
  color: #5b6275;
  max-width: 40%;
}
.smallIcon {
  margin-bottom: 20px;
}
.fa-cloud-rain {
  text-align: center;
  display: block;
  margin-left: 10px;
}

h1,
div {
  color: white;
}
a:link {
  text-decoration: none;
  cursor: pointer;
  color: #5b6275;
}
a:visited {
  color: #5b6275;
}
a:hover {
  color: white;
}
a:link,
a:visited {
  text-decoration: none;
}
a {
  display: inline-block;
  padding-top: 5%;
}

img {
  display: inline-block;
  margin-left: 10px;
  margin-top: -4%;
}
